body {
  background-color: black;
  color: limegreen;
  font-family: 'Orbitron', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

#timer {
  font-size: 5rem;
  margin-bottom: 20px;
}

#slowdown {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
